body { 
  background: #e3e1ff;
  color: #444;
}

.error {
  color: #ff3f80;
  font-size: 14px;
}

// button {
//   text-decoration: none !important;
//   background: #5ae4ca;
//   color: white;
//   font-weight: bold;
//   border: 0;
//   border-radius: 20px;
//   padding: 10px 20px;
//   cursor: pointer;
// }

.fw-bold {
  font-weight: bold
}

.pointer {
  cursor: pointer
}